Alias /koji "/usr/share/koji-web/scripts/wsgi_publisher.py"

<Directory "/usr/share/koji-web/scripts/">
    Options ExecCGI
    SetHandler wsgi-script
    WSGIApplicationGroup %{GLOBAL}
    Require all granted
</Directory>

Alias /koji-static "/usr/share/koji-web/static"

<Directory "/usr/share/koji-web/static">
    Options None
    AllowOverride None
    Require all granted
</Directory>
